/********** Navbar **********/

.navbar img {
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  color: #fff;
  background: #000;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

/********** Login **********/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  cursor: grab;
  height: 100%;
}
.login-container img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}
.login-container a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
}

/********** Home Page **********/
.search-display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/********** Artist Page **********/
.artist-page-conatainer {
  margin-top: 10vh;
  color: #000;
}
.title-container {
  margin-left: 40px;
}
/********** Search **********/
.search-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.search-field {
  background: #fff;
  width: 30%;
}
/********** DisplaySearchResults **********/
.display-container {
  margin: 2%;
}
.entity-link {
  text-decoration: none;
  color: yellowgreen;
}
/********** Artist **********/
.artist-container {
  flex-shrink: inherit;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 5px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
.artist-container p {
  text-decoration: none;
}

/********** Album **********/
.album-container {
  flex-shrink: inherit;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: yellowgreen;
  height: 500px;
  margin: 5px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
.album-container p {
  margin: 0;
  padding: 0;
}
.footer-link {
  padding: 3px;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .display-container {
    width: 100%;
  }
  .scroll-container {
    width: 100%;
  }
  .artist-container {
    width: 300px;
    margin-left: 0px;
  }
}
