/* Navbar */
.navbar img {
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  color: #fff;
  background: #000;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Login */

.login-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  cursor: grab;
}
.login-container img {
  height: 200px;
  width: 200px;
}
.login-container a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}
