/********** Navbar **********/

.navbar img {
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  color: #fff;
  background: #000;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

/********** Login **********/

.login-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  cursor: grab;
  height: 100%;
}
.login-container img {
  height: 200px;
  width: 200px;
}
.login-container a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

/********** Home Page **********/
.search-display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/********** Search **********/
.search-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.search-field {
  background: #fff;
  width: 30%;
}
/********** DisplaySearchResults **********/
.display-container {
  margin: 2%;
}
.entity-link {
  text-decoration: none;
  color: yellowgreen;
}
/********** Artist **********/
.artist-container {
  height: 400px;
  margin: 5px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
.artist-container p {
  text-decoration: none;
}
